/* First we need to make sure we have compatability.*/

html {
  font-family: Trebuchet, sans-serif;
}

.screenshot {
  text-align: center;
}

.description {
  text-align: center;
  font-weight: bold;
  max-width: 2000px;
  font-size: 22px;
}

h2 {
  text-align: center;
}
.reasons {
  text-align: left;
  background-color: #0066ff;
  border-radius: 20px;
  color: white;
  font-size: 18px;
  padding: 10px;
  margin: 10px auto;

}
li {
  line-height: 44px;
}
